nz-select {
  width: 50%;
}

[nz-button] {
  /* margin-right: 8px; */
  margin-bottom: 12px;
  width: 100%;
  /* margin: 25px 25px; */
}

.form-center {
  margin-top: 5rem;
  width: 30%;
}

.topic {
  display: flex;
  justify-content: center;
  padding-top: 80px;

}

.topic-text {
  font-size: 20px;
}

.form-input {
  width: 100%;
}

.form-select {
  width: 8rem;
}