nz-select {
  width: 50%;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

.form-center {
  margin-top: 5rem;
}

.header {
  margin-top: 5rem;
}

.header-size {
  font-size: 36px;
}

.form-input {
  width: 20rem;
}

.form-select {
  width: 8rem;
}