<div style="background-color: blanchedalmond; height: 100%;">

  <div class="topic">
    <label class="topic-text">ลงทะเบียนเข้ารับบริการฉีดวัคซีน</label>
  </div>
  <div nz-flex nzJustify="center">
    <form nz-form [formGroup]="inputForm" class="form-center">

      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div style="display: flex; flex-direction: column; font-weight: 700; ">
          <nz-form-item>
            <nz-form-label>ชื่อ-นามสกุล</nz-form-label>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label>เลขบัตรประชาชน</nz-form-label>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label>เพศ</nz-form-label>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label>วัน/เดือน/ปีเกิด</nz-form-label>
          </nz-form-item>
        </div>


        <div style="display: flex; flex-direction: column; width: 60%;">
          <nz-form-item>
            <nz-form-control>
              <input nz-input formControlName="name" type="text" placeholder="กรุณาระบุชื่อ-นามสกุล"
                class="form-input" />
              <div
                *ngIf="inputForm.get('name')?.invalid && (inputForm.get('name')?.dirty || inputForm.get('name')?.touched)">
                <span *ngIf="inputForm.get('name')?.errors?.['required']"
                  style="color: red">กรุณาระบุชื่อ-นามสกุล</span>
                <span *ngIf="inputForm.get('name')?.errors?.['pattern']" style="color: red;">กรุณากรอกข้อมูลเฉพาะ
                  ภาษาไทย
                  หรือ ภาษาอังกฤษ เท่านั้น</span>
              </div>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <input nz-input formControlName="idCard" type="text" placeholder="กรุณาระบุเลขบัตรประชาชน 13 หลัก"
                mask="0-0000-00000-00-0" class="form-input" />
              <div
                *ngIf="inputForm.get('idCard')?.invalid && (inputForm.get('idCard')?.dirty || inputForm.get('idCard')?.touched)">
                <span *ngIf="inputForm.get('idCard')?.errors?.['required']"
                  style="color: red">กรุณาระบุเลขบัตรประชาชน</span>
              </div>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <nz-select formControlName="gender" nzShowSearch nzAllowClear nzPlaceHolder="เลือกเพศ"
                class="form-select">
                <nz-option nzLabel="ชาย" nzValue="ชาย"></nz-option>
                <nz-option nzLabel="หญิง" nzValue="หญิง"></nz-option>
              </nz-select>
              <div
                *ngIf="inputForm.get('gender')?.invalid && (inputForm.get('gender')?.dirty || inputForm.get('gender')?.touched)">
                <span style="color: red">กรุณาระบุเพศ</span>
              </div>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <input nz-input formControlName="birthDate" type="date" max="{{ maxDate | date: 'yyyy-MM-dd' }}"
                class="form-select" />
              <div
                *ngIf="inputForm.get('birthDate')?.invalid && (inputForm.get('birthDate')?.dirty || inputForm.get('birthDate')?.touched)">
                <span style="color: red">กรุณาระบุวัน/เดือน/ปีเกิด</span>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-form-item nz-flex nzJustify="space-between" style=" width: 100%;">
        <div style="width: 120px;">
          <button nz-button nzDanger nzType="primary" (click)="clear()">
            <span nz-icon nzType="delete" nzTheme="outline"></span>
            ล้างค่า
          </button>
        </div>

        <div style="width: 120px;">
          <button nz-button nzType="primary" (click)="submit()">
            <span nz-icon nzType="check" nzTheme="outline"></span>
            ยืนยัน
          </button>
        </div>

      </nz-form-item>

    </form>

    <nz-modal [(nzVisible)]="showModal" nzTitle="ยืนยันข้อมูล" (nzOnCancel)="handleCancel()">
      <ng-container *nzModalContent>

        <form nz-form [formGroup]="modalForm">
          <nz-form-item>
            <nz-form-label [nzSpan]="7">ชื่อ-นามสกุล</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <input nz-input formControlName="modalName" type="text" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="7">เลขบัตรประชาชน</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <input nz-input formControlName="modalIdCard" type="text" mask="0-0000-00000-00-0" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="7">เพศ</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-select formControlName="modalGender">
                <nz-option nzLabel="ชาย" nzValue="ชาย"></nz-option>
                <nz-option nzLabel="หญิง" nzValue="หญิง"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="7">วัน/เดือน/ปีเกิด</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <input nz-input formControlName="modalBirthDate" type="date" />
            </nz-form-control>
          </nz-form-item>

        </form>

      </ng-container>

      <div *nzModalFooter>
        <button nz-button nzType="default" nzTheme="outline" (click)="check()">ตรวจสอบ</button>
      </div>

    </nz-modal>

  </div>
</div>